.Button {
  font-family: inherit;
  font-size: 1.8rem;
  width: 13rem;
  background-color: var(--c-btn-sign);
  border: none;
  border-radius: 100px;
  color: var(--c-font);
  padding: 1.4rem 2.2rem;
  cursor: pointer;
}
