@import "../styles/mixins";

.AppWrapper {
  max-width: 204.8rem;
  margin: 0 auto;

  @include desktop {
    display: grid;
    grid-template-columns: 40rem 1fr;
  }
}

.RouteWrapper {
  grid-column: 2 / 3;
  height: 100%;
  overflow: hidden;
}
